<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Products</a></li>
            <li class="breadcrumb-item active">Checkout</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<form action="/checkout/order" method="post" novalidate onsubmit="placeOrders(event)">
<div class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="billing-address">
                    <h2>Billing Address</h2>
                    <div class="row">
                        {{#each addresses}}
                        <div class="col-md-12">
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="address-{{id}}" value="{{id}}" name="addresses">
                                    <label class="custom-control-label" for="address-{{id}}">{{address}}</label>
                                </div>
                                <div class="payment-content" id="address-{{id}}-show">
                                    <p>Name: {{firstName}} {{lastName}}</p>
                                    <p>Mobile: {{mobile}} - Email: {{email}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}   
                                                   
                        <div class="col-md-12">
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="shipto" value="another" name="addresses">
                                <label class="custom-control-label" for="shipto">Ship to different address</label>
                                </div>
                                <div class="payment-content" id="shipto-show">
                    <h2>Shipping Address</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input name="firstName" class="form-control" type="text" placeholder="First Name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input name="lastName" class="form-control" type="text" placeholder="Last Name" required>
                        </div>
                        <div class="col-md-6">
                            <label>E-mail</label>
                            <input name="email" class="form-control" type="text" placeholder="E-mail" required>
                        </div>
                        <div class="col-md-6">
                            <label>Mobile No</label>
                            <input name="mobile" class="form-control" type="text" placeholder="Mobile No" required>
                        </div>
                        <div class="col-md-12">
                            <label>Address</label>
                            <input name="address" class="form-control" type="text" placeholder="Address" required>
                        </div>
                        <div class="col-md-6">
                            <label>Country</label>
                            <select name="country" class="custom-select">
                                <option value="VietNam">VietNam</option>
                                <option value="United States">United States</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>City</label>
                            <input name="city" class="form-control" type="text" placeholder="City" required>
                        </div>
                        <div class="col-md-6">
                            <label>State</label>
                            <input name="state" class="form-control" type="text" placeholder="State">
                        </div>
                        <div class="col-md-6">
                            <label>ZIP Code</label>
                            <input name="zipCode" class="form-control" type="text" placeholder="ZIP Code">
                        </div>                       
                    </div>
                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="col-md-5">
                <div class="checkout-summary">
                    <h2>Cart Total</h2>
                    <div class="checkout-content">
                        <h3>Products</h3>
                        {{#each items}}
                        <p>{{product.name}}<span>${{product.price}}</span></p>
                        {{/each}}
                        <p class="sub-total">Sub Total<span>${{subtotal}}</span></p>
                        <p class="ship-cost">Shipping Cost<span>${{shipping}}</span></p>
                        <h4>Grand Total<span>${{total}}</span></h4>
                    </div>
                </div>

                <div class="checkout-payment">
                    <h2>Payment Methods</h2>
                    <div class="payment-methods">
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payment-1" name="paymentMethod" value="PAYPAL">
                                <label class="custom-control-label" for="payment-1">Paypal</label>
                            </div>
                            <div class="payment-content" id="payment-1-show">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros
                                    volutpat maximus lacinia quis diam.
                                </p>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payment-2" name="paymentMethod" value="PAYONEER">
                                <label class="custom-control-label" for="payment-2">Payoneer</label>
                            </div>
                            <div class="payment-content" id="payment-2-show">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros
                                    volutpat maximus lacinia quis diam.
                                </p>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payment-3" name="paymentMethod" value="CPM">
                                <label class="custom-control-label" for="payment-3">Check Payment</label>
                            </div>
                            <div class="payment-content" id="payment-3-show">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros
                                    volutpat maximus lacinia quis diam.
                                </p>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payment-4" name="paymentMethod" value="DBT">
                                <label class="custom-control-label" for="payment-4">Direct Bank Transfer</label>
                            </div>
                            <div class="payment-content" id="payment-4-show">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros
                                    volutpat maximus lacinia quis diam.
                                </p>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payment-5" name="paymentMethod" value="COD">
                                <label class="custom-control-label" for="payment-5">Cash on Delivery</label>
                            </div>
                            <div class="payment-content" id="payment-5-show">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros
                                    volutpat maximus lacinia quis diam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-btn">
                        <button type="submit">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Checkout End -->
{{#section 'scripts'}}
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/checkout.js"></script>
{{/section}}