<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">My Account</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- My Account Start -->
<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab"
                        role="tab">Dashboard</a>
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment
                        Method</a>
                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">address</a>
                    <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account
                        Details</a>
                    <a class="nav-link" href="index.html">Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel"
                        aria-labelledby="dashboard-nav">
                        <h4>Dashboard</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra
                            dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit
                            finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in
                            faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu
                            rhoncus scelerisque.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>                                        
                                        <th>Date</th>
                                        <th>Shipping Address</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <td>{{id}}</td>                                        
                                        <td>{{createdAt}}</td>
                                        <td>{{shippingAddress}}</td>
                                        <td>${{total}}</td>
                                        <td>{{status}}</td>
                                        <td><button onclick="viewOrderDetails({{id}})">View</button></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra
                            dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit
                            finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in
                            faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu
                            rhoncus scelerisque.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        <h4>Address</h4>
                        <div class="row">
                            {{#each addresses}}
                            <div class="col-md-6">
                                <h5>Shipping Address</h5>
                                <p>{{address}}, {{city}}, {{state}}</p>
                                <p>Mobile: {{mobile}}</p>
                                <button onclick="editAddress({{id}})">Edit Address</button>
                            </div>
                            {{/each}}                        
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <form method="post" action="/user/update-account" onsubmit="return updateAccount(this)">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="hidden" name="id" value="{{account.id}}"/>
                             <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="firstName" placeholder="First Name" value="{{account.firstName}}" /> 
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="lastName" placeholder="Last Name" value="{{account.lastName}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="mobile" placeholder="Mobile" value="{{account.mobile}}"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="email" placeholder="Email" value="{{account.email}}">
                            </div>                           
                            <div class="col-md-12">
                                <button type="submit">Update Account</button>
                                <br><br>
                            </div>
                        </div>
                        </form>
                       
                        <h4>Password change</h4>
                        <form method="post" action="/user/update-password" onsubmit="return updatePassword(this)">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="hidden" name="id" value="{{account.id}}"/>
                            <div class="row">
                            <div class="col-md-12">
                                <input type="password" placeholder="Current Password" name="currentPassword">
                            </div>
                            <div class="col-md-6">
                                <input type="password" placeholder="New Password" name="newPassword">
                            </div>
                            <div class="col-md-6">
                                <input type="password" placeholder="Confirm Password" name="confirmPassword">
                            </div>
                            <div class="col-md-12">
                                <button>Save Changes</button>
                            </div>
                        </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-placeholder">

</div>
<!-- My Account End -->
{{#section 'scripts'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/my-account.js"></script>
{{/section}}